# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
env/
ENV/

# Environment variables
.env

# Database
db.sqlite3

# Media
media/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Static collected
staticfiles/

# IDE
.vscode/
.idea/