# Python убактылуу файлдары жана кэштери
__pycache__/
*.py[cod]
*$py.class

# Виртуалдык чөйрө (Environment)
venv/
ENV/
env/

# Купуя маалыматтар (Постгрес базасынын сыр сөздөрү ушул файлда сакталат)
.env

# Түзүлгөн медиа файлдар (Товарлардын сүрөттөрү)
media/

# Операциялык системанын файлдары
.DS_Store
Thumbs.db