{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/includes/products_app/products_card.css' %}">
{% endblock %}

{% block content %}
<div class="page-container">
    <div class="main-products-area">
        <h2 class="section-title">Бардык товарлар</h2>

        <div class="product-grid">
            {% for product in products %}
                {% include 'includes/products_app/products_card.html' with product=product %}
            {% empty %}
                <div class="empty-catalog">
                    <p>Товарлар азырынча кошула элек.</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% block extra_js %}
    <script src="{% static 'js/includes/products_app/favorites.js' %}"></script>
{% endblock %}
{% endblock %}