{% extends 'base.html' %}
{% block content %}

<h2>Мои доставки</h2>
{% for order in delivery_orders %}
<p>
Order #{{ order.id }}

<a href="{% url 'orders:update_status' order.id 'on_the_way' %}">
Товар алдым
</a>
</p>
{% endfor %}


<h2>На маршруте</h2>
{% for order in route_orders %}
<p>
Order #{{ order.id }}

<a href="{% url 'orders:update_status' order.id 'delivered' %}">
Жеткирдим
</a>
</p>
{% endfor %}


<h2>Завершенные</h2>
{% for order in completed_orders %}
<p>Order #{{ order.id }}</p>
{% endfor %}

{% endblock %}